.mainVisual {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px;
  margin-bottom: 35px;
}

.mainVisualTextWrapper {
  width: 58%;
}

.mainVisualImageWrapper {
  width: 40%;
}

.mainVisualTitle {
  font-size: 32px;
  font-weight: bold;
}

.mainVisualSubTitle {
  font-size: 12px;
}

.mainVisualLeadText {
  font-size: 14px;
  font-weight: bold;
}

.mainVisualImage {
  width: 138px;
  height: 185px;
}

.section {
  padding: 15px 20px;
  margin-bottom: 50px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sectionDetailLink {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background-color: #1a237e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 16px 32px;
}

.sectionDetailLinkWrapper {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mainVisual {
    max-width: 450px;
    margin: 0 auto;
  }

  .mainVisualTextWrapper {
    width: 50%;
  }

  .mainVisualImageWrapper {
    width: 35%;
  }

  .articleWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .mainVisual {
    justify-content: center;
    padding: 100px 15px;
    max-width: 980px;
    margin: 0 auto;
  }

  .mainVisualTextWrapper {
    width: 40%;
  }

  .mainVisualImageWrapper {
    width: 25%;
  }

  .mainVisualTitle {
    font-size: 40px;
  }

  .mainVisualSubTitle {
    font-size: 16px;
  }

  .mainVisualLeadText {
    font-size: 20px;
  }

  .mainVisualImage {
    width: 238px;
    height: 318px;
  }

  .section {
    max-width: 1200px;
    margin: 0 auto 100px;
  }

  .sectionTitle {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .articleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .sectionDetailLink {
    font-size: 14px;
  }
}
