.mainVisual {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px;
  margin-bottom: 35px;
}

.mainVisualTextWrapper {
  width: 58%;
}

.mainVisualImageWrapper {
  width: 40%;
}

.mainVisualTitle {
  font-size: 32px;
  font-weight: bold;
}

.mainVisualSubTitle {
  font-size: 12px;
}

.mainVisualLeadText {
  font-size: 14px;
  font-weight: bold;
}

.mainVisualImage {
  width: 138px;
  height: 185px;
}

.section {
  padding: 15px 20px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.article {
  margin-bottom: 35px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.articleImage {
  width: 325px;
  height: 183px;
  margin-bottom: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.articleTitle {
  font-size: 16px;
  font-weight: bold;
  color: #222;
}

.articleDate {
  font-size: 14px;
  color: #222;
}

@media screen and (min-width: 1024px) {
  .mainVisual {
    justify-content: center;
    padding: 100px 15px;
    max-width: 980px;
    margin: 0 auto;
  }

  .mainVisualTextWrapper {
    width: 40%;
  }

  .mainVisualImageWrapper {
    width: 25%;
  }

  .mainVisualTitle {
    font-size: 40px;
  }

  .mainVisualSubTitle {
    font-size: 16px;
  }

  .mainVisualLeadText {
    font-size: 20px;
  }

  .mainVisualImage {
    width: 238px;
    height: 318px;
  }

  .section {
    max-width: 1200px;
    margin: 0 auto;
  }

  .sectionTitle {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .articleWrapper {
    display: flex;
    justify-content: space-between;
  }

  .article {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    width: 30%;
  }

  .articleImage {
    width: 347px;
    height: 195px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .articleTitle {
    font-size: 20px;
  }

  .articleDate {
    font-size: 14px;
  }
}
