.wrapper {
  max-width: 1200px;
  margin: 0 auto 100px;
  padding: 0 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 10px;
}

.date {
  font-size: 13px;
  color: #222;
}

.description {
  color: #222;
  line-height: 1.7;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 13px;
  margin-top: 15px;
  padding: 15px;
  white-space: pre-wrap;
}

.list {
  padding: 60px 0 0;
}

.breadcrumb {
  list-style: none;
  display: flex;
  padding-top: 20px;
}

.breadcrumbItem {
  font-size: 12px;
  margin-right: 15px;
  max-width: 35%;
}

.breadcrumbItem[data-current="true"] {
  margin-right: 0;
}

.breadcrumbItem:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  margin-left: 15px;
}

.breadcrumbLink {
  color: #176dbc;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .description {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 24px;
    margin: 50px 0 10px;
  }

  .breadcrumb {
    padding-top: 100px;
  }

  .list {
    padding: 100px 0 0;
  }
}
