.wrapper {
  max-width: 1200px;
  margin: 0 auto 100px;
  padding: 0 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 30px;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    margin: 120px 0 30px;
  }
}
