.linkBar {
  background-color: #1a237e;
  padding: 10px 0 14px;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.linkBarList {
  display: flex;
  list-style: none;
}

.linkBarListLink {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}

.linkBarListItemHome {
  width: 23%;
  text-align: center;
  line-height: 1;
}

.linkBarListItemRecommend {
  width: 24%;
  text-align: center;
  line-height: 1;
}

.linkBarListItemSale {
  width: 26%;
  text-align: center;
  line-height: 1;
}

.linkBarListItemRanking {
  width: 27%;
  text-align: center;
  line-height: 1;
}

.linkBarImage {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .linkBar {
    display: none;
  }
}
